@import '../common/vars';

.hero {
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;

    &__wrap {
        display: flex;
        justify-content: center;
        padding-top: 16px;
        flex-wrap: wrap;
    }

    &__body {
        padding-top: 37px;

        @include b(tablet) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        & h1 {
            font-size: 50px;
            line-height: 1.2;
            letter-spacing: 0.31px;
            max-width: 531px;
            margin-bottom: 21px;

            @include b(tablet) {
                width: 100%;
                text-align: center;
            }

            @include b(mobile) {
                font-size: 35px;
            }
        }

        & p {
            line-height: 1.5;
            letter-spacing: 0.15px;
            width: 337px;
            margin-bottom: 60px;

            @include b(tablet) {
                text-align: center;
                width: 100%;
            }
        }
    }

    &__btn {
        margin-bottom: 60px;
    }

    &__img {
        width: 100%;

        @include b(mobile) {
            display: none;
        }
    }
}